@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    animation: gradientBackground 10s ease infinite;
    background: linear-gradient(45deg, #04dd5b, #0072ff, #6a0dad); /* Blue, Purple, Green mix */
    background-size: 400% 400%;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    width: 100%;
    height: auto;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
